<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Simple Note </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <!-- <div class="form-group">
                        <label> ID</label>
                        <input type="text" class="form-control" id="noteId" ngModel="simpleNote.noteId"
                            name="noteId">
                    </div> -->

                    <div class="form-group">
                        <label> Note Title</label>
                        <input type="text" class="form-control" id="noteTitle" [(ngModel)]="simpleNote.noteTitle"
                            name="noteTitle">
                    </div>

                    <div class="form-group">
                        <label> Note Content</label>
                        <input type="text" class="form-control" id="noteContent" [(ngModel)]="simpleNote.noteContent"
                            name="noteContent">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>