<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Simple Note </h3>
            <hr />
            <div class="card-body">

                <form (ngSubmit)="onSubmit()" #noteForm="ngForm">

                    <div class="form-group">
                        <label> Note Title</label>
                        <input type="text" class="form-control" id="noteTitle" [(ngModel)]="simpleNote.noteTitle"
                            name="noteTitle" required minlength="1" maxlength="100" #noteTitleRef="ngModel">
                        <div *ngIf="noteTitleRef.invalid && noteTitleRef.touched" class="text-danger">
                            Title is required and must not exceed 100 characters.
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Note Content</label>
                        <textarea class="form-control" id="noteContent" [(ngModel)]="simpleNote.noteContent"
                            name="noteContent" required minlength="1" maxlength="1000" #noteContentRef="ngModel"></textarea>
                        <div *ngIf="noteContentRef.invalid && noteContentRef.touched" class="text-danger">
                            Content is required and must not exceed 1000 characters.
                        </div>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit" [disabled]="noteForm.invalid">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>